.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  border-bottom: solid 1px #f7f7f7;
}

.sidebar {
  /* position: fixed; */
  flex: 0.2 1;
  height: 100%;
  background: white;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  background-color: #4c74ef;
  color: white;
}

.sidebar-content {
  display: flex;
  height: fit-content;
  align-items: center;
  padding: 5px 10px;
}

.sidebar-content > svg {
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 310px;
  }
}
