.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(25, 135, 84, var(--bs-bg-opacity)) !important;
}

.bg-warning {
  --bs-bg-opacity: 1;
  background-color: rgba(255, 193, 7, var(--bs-bg-opacity)) !important;
}

.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgba(13, 110, 253, var(--bs-bg-opacity)) !important;
}

.bg-info {
  --bs-bg-opacity: 1;
  background-color: rgba(13, 202, 240, var(--bs-bg-opacity)) !important;
}

.bg-danger {
  --bs-bg-opacity: 1;
  background-color: rgba(220, 53, 69, var(--bs-bg-opacity)) !important;
}

.task-container {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px 1px rgb(203 203 203 / 43%);
  background-color: white;
  margin-bottom: 35px;
}

.projects-wrapper {
  margin-bottom: 10px;
}

.projects-info {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.task-heading {
  background: #e8eeff;
  color: #4e73df !important;
  padding: 7px 10px;
}
